{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Add Offer
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 column">
                <form class="form-horizontal" id="form-offer" method="post" action="{% url 'offer:add_offer' %}">
                    <fieldset>
                        {% csrf_token %}
                        {{ form.media }}
                        <legend>添加 offer 信息</legend>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="{{ form.company.id_for_label }}">{{ form.company.label }}</label>
                            <div class="col-sm-4">
                                {{ form.company }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>
                            <div class="col-sm-4">
                                {{ form.url }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="{{ form.application_date.id_for_label }}">{{ form.application_date.label }}</label>
                            <div class="col-sm-4">
                                {{ form.application_date }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
                            <div class="col-sm-4">
                                {{ form.status }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="{{ form.last_interview_date.id_for_label }}">{{ form.last_interview_date.label }}</label>
                            <div class="col-sm-4">
                                {{ form.last_interview_date }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="{{ form.application_method.id_for_label }}">{{ form.application_method.label }}</label>
                            <div class="col-sm-4">
                                {{ form.application_method }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"
                                   for="{{ form.result.id_for_label }}">{{ form.result.label }}</label>
                            <div class="col-sm-4">
                                {{ form.result }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                <button type="submit" class="btn btn-primary btn-block" id="submit">提交</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% include 'offer/footer.html' %}
{% endblock %}
