{% extends 'base.html' %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 column">
                <form class="form-horizontal" id="form-offer" method="post" action="">
                    <fieldset>
                        {% csrf_token %}
                        <legend>更新 offer 信息</legend>
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label class="col-sm-4 control-label"
                                       for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-sm-4">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                <button type="submit" class="btn btn-primary btn-block">提交</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% include 'offer/footer.html' %}
{% endblock %}
