.main.container {
    margin-top: 8em;
}

.table tbody tr td {
    vertical-align: middle;
}

.table tbody tr td:nth-last-child(1) {
    width: 10%;
}

.ui.selection.dropdown {
    min-width: 100%;
}

.ui.calendar {
    overflow: visible;
}