<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <meta name="description" content="Offer management system based on Django">
    <meta name="author" content="40huo">
    <title>OfferKnow - {% block title %}Your offer collector!{% endblock %}
    </title>

    <!--css-->
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.css" rel="stylesheet">
    <link href="{% static 'offer/css/offer.css' %}" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui-calendar/0.0.8/calendar.css" rel="stylesheet">
    <!--JS-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui-calendar/0.0.8/calendar.js"></script>
</head>
<body>
<div class="ui huge fixed borderless menu">
    <a class="header huge item" href="/"><h1>OfferKnow</h1></a>
    <a class="item" href="/">Home</a>
    <a class="item" href="{% url 'offer:add_offer' %}">Add</a>
    <div class="right menu item">
        <a class="ui primary button" href="/">Sign In</a>
    </div>
</div>
{% block body %}{% endblock %}
</body>
</html>